<div *ngIf="modalVisible">
  <div class="modal" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Software House Company - GDPR policy</h5>
        </div>
        <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
          <p>
            Our Company is part of the Our Company Group which includes Our Company International and Our Company Direct. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
          </p>
          <p>
            The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.
          </p>
          <p>
            The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.
          </p>
          <p>
            The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.
          </p>
          <p class="text-muted">
            Rest of GDPR stuff...
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="close()">Agree</button>
          <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" style="opacity: .5"></div>
</div>
