<div class="jumbotron bg-info text-white">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="row">

  <div class="col">
    <h5>TODO:</h5>
    <div *ngFor="let i of [1, 2]" class="card border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title">Primary card</h4>
        <p class="card-text">Title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <h5>IN PROGRESS:</h5>
    <div *ngFor="let i of [1, 2, 3]" class="card border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title">Primary card</h4>
        <p class="card-text">Some quick the card title.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col">
    <h5>DONE:</h5>
    <div *ngFor="let i of [1]" class="card border-secondary text-muted mb-3">
      <div class="card-body">
        <h4 class="card-title">Primary card</h4>
        <p class="card-text">On the card title and make up.</p>
        <a href="#" class="card-link text-muted">Card link</a>
        <a href="#" class="card-link text-muted">Another link</a>
      </div>
    </div>
  </div>
</div>
