<div class="jumbotron bg-info text-white">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">
    Welcome in our company! This is our company portal. Everything you need in next few days should be available here.
    Check out <a href="#">News</a>, <a href="#">Issues</a> and <a href="#">Configuration</a> pages first.
  </p>
  <hr class="my-4">
  <p>Pssst. If you need help you can always visit your personal onboarding page.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">
      Your personal onboarding page
    </a>
  </p>
</div>

<hr>

<ul class="list-group">
  <li *ngFor="let message of messages" class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <strong>{{ message.from }}: {{ message.subject }}</strong>
      <span class="text-muted">
        {{ message.text }}
      </span>
    </div>
    <span class="badge badge-primary badge-pill">{{ message.count }}</span>
  </li>
</ul>
