<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">
    Welcome in our company! This is our company portal. Everything you need in next few days should be available here.
    Check out <a href="#">News</a>, <a href="#">Issues</a> and <a href="#">Configuration</a> pages first.
  </p>
  <hr class="my-4">
  <p>Pssst. If you need help you can always visit your personal onboarding page.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">
      Your personal onboarding page
    </a>
  </p>
</div>

<ng-container *ngIf="messages.length > 0">
  <ul class="list-group">
    <li *ngFor="let message of messages" class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong class="text-info" style="width: 120px; display: inline-block;">{{ message.from }}</strong>
        <strong>{{ message.subject }}</strong>
        <span class="text-muted">
        {{ message.text }}
      </span>
      </div>
      <span class="badge badge-primary badge-pill"
            [class.badge-danger]="message.count > 5">
      {{ message.count }}
    </span>
    </li>
  </ul>
  <div class="text-center mt-3">
    <button class="btn btn-primary">Load more</button>
  </div>
</ng-container>
<div class="alert alert-dismissible alert-secondary" *ngIf="messages.length === 0">
  Loading...
</div>
