/* You can add global styles to this file, and also import other style files */

.app-area {
  display: block;
  position: relative;
  background: #CCC;
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  border: 2px solid black;
}

.app-area::after {
  position: absolute;
  content: attr(app-name);
  top: 50%;
  width: 100%;
  text-align: center;

  font-size: 24px;
  color: #555;
  margin-top: -16px;
}

.app-area * {
  opacity: 0;
  visibility: hidden;
}
