/* You can add global styles to this file, and also import other style files */

.widget-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  opacity: 0;
  animation: pulse 2s infinite;
  animation-delay: 2s;
}

@keyframes pulse {
  from { opacity: 0 }
  50% { opacity: 1 }
  to { opacity: 0}
}
