<hr>
<div class="text-muted">
  <div class="row">
    <div class="col">
      <h6>
        Copyright: Software House Company
      </h6>
    </div>
    <div class="col-auto">
      <h6>
        ng-poland 2019
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col text-muted">
      All rights reserved
    </div>
    <div class="col-auto">
        <a class="text-muted" href="https://github.com/galczo5/ngpoland2019">github.com/galczo5/ngpoland2019</a>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <hr>
    </div>
  </div>

  <div class="text-muted mt-1">
    <a href="#" class="mr-3 text-muted">Home</a>
    <a href="#" class="mr-3 text-muted">News</a>
    <a href="#" class="mr-3 text-muted">Issues</a>
    <a href="#" class="mr-3 text-muted">Configuration</a>
  </div>
  <div class="form-inline mt-2">
    <label class="mr-3">Search:</label>
    <input type="text" class="form-control" placeholder="...">
  </div>
</div>
